---
layout: default
title: Home
---
<div id="hack">
  <div><pre><code><!--
-->  ________  ___  ___           ________  _______   ___      ___ 
 |\   ____\|\  \|\  \         |\   ___ \|\   ___\ |\  \    /  /|
 \ \  \___|\ \  \/  /._       \ \  \ |\ \ \  \___.\ \  \  /  / /
  \ \  \    \ \   ___  \       \ \  \ \\ \ \   ___\\ \  \/  / /
   \ \  \____\ \  \\ \  \       \ \  \_\\ \ \  \___.\ \    / /
    \ \_______\ \__\\ \__\       \ \_______\ \______\\ \__/ /
     \|_______|\|__| \|__| .is-a. \|_______|\|______| \|__|/
                                             2.4.0@gh-pages</code></pre></div>
  <b>c. k.</b> = programmer<br>
  c99, cpp, py, js

  <p>interests : portability, games, british politics</p>

  <nav class="s-nav">
    {% for link in site.data.nav %}
    <a class="s-nav-item{% if page.url == link.url %} active{% endif %}"
       href="{{ link.url }}">{{ link.title }}</a>
    {% if forloop.last != true %}/{% endif %}
    {% endfor %}
  </nav>

  <div id="projects">
    <p>projects :</p>
    <ul>
      {% for project in site.data.projects %}
      <li><a href="{{ project.url }}">{{ project.name }}</a> : {{ project.desc }}
      {% endfor %}
    </ul>
  </div>

  <p><a href="/devlog">devlog</a> :</p>
  <ul class="posts">
    {% comment %}
      assign first because reverse doesn't work with limit, it would show 3 2 1
      (the first three reversed) instead of latest
    {% endcomment %}
    {% assign devlog = site.devlog | reverse %}
    {% for post_ in devlog limit:5 %}
    <li>
      <a class="post-link" href="{{ post_.url }}">{{ post_.title }}</a>
      <small>{{ post_.date | date_to_string }}</small>
      {% if post_.wip == true %}(WIP){% endif %}
    </li>
    {% endfor %}
  </ul>

  <p><a href="/article">articles</a> :</p>
  <ul class="posts">
    {% for post_ in site.posts %}
    <li>
      <a class="post-link" href="{{ post_.url }}">{{ post_.title }}</a>
      <small>{{ post_.date | date_to_string }}</small>
    </li>
    {% endfor %}
  </ul>

  <p><a href="/notes">notes</a> :</p>
  <ul class="posts">
    {% for post_ in site.notes %}
    <li>
      {{ post_.lang }} {{ post_.path | split: "/" | pop | join: "/" | remove_first: "_notes/" }}
      <a class="post-link" href="{{ post_.url }}">{{ post_.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <p><a href="/article#graveyard">graveyard of unfinished articles</a> :</p>
  <ul class="posts">
    {% for post_ in site.brouillons %}
    <li>
      <a class="post-link" href="{{ post_.url }}">{{ post_.title }}</a>
      <small>{{ post_.date | date_to_string }}</small>
    </li>
    {% endfor %}
  </ul>
</div>

{% include fin.html %}
