{% assign prompttext = "" %}
{% assign linktext = "Leave a message" %}
{% assign improvetext = "Improve this page" %}
{% if page.path contains '_posts' %}
  {% assign prompttext = "Something wrong in the article? " %}
  {% assign linktext = "Let me know" %}
{% elsif page.lang == 'fr' %}
  {% assign linktext = "Laisser un message" %}
  {% assign improvetext = "Améliorer cette page" %}
{% endif %}

<center>
  <i>
    <a href="https://github.com/plu5/plu5.github.io/blob/master/{{ page.path }}">{{ improvetext }}</a> /
    {{ prompttext }}<a href="https://github.com/plu5/plu5.github.io/issues">{{ linktext }}</a>.
  </i>
</center>

<div id="fin">■</div>
