---
layout: default
---

<a href='/'>←⌂</a>
<hr>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% include cats-container.html post=page %}
  <p class="post-date">
    Created: {{ page.date | date_to_string }}{% if page.modified_date %}, Modified: {{ page.modified_date | date_to_string }}{% endif %}
  </p>

  {% if page.path contains '_brouillon' %}
  <p><b>Warning: This is an unfinished article from the graveyard of unfinished articles. It has been deemed unfit to publish as an article and may contain erroneous information or be a waste of time to read. Proceed at your own peril.</b></p>
  {% endif %}

  {% include toc_wrapper.html %}
  {% include anchor_headings.html html=content anchorClass="anchorjs-link" beforeHeading=true h_max=2 %}
  <!-- {{ content }} -->
</div>
<hr>
<div id="bottom-nav">
  <a href='/'>←⌂</a>

  {% if page.previous.url %}
  <a href="{{page.previous.url}}">←{{page.previous.title}}</a>
  {% endif %}

  {% if page.next.url %}
  <a class="button is-link ellipsis" title="{{page.previous.title}}" href="{{page.next.url}}">{{page.next.title}}→</a>
  {% endif %}
</div>
